<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block htmltitle %}
  <title>gofoss.net - La liberté numérique pour tou·tes.</title>
{% endblock %}
{% block tabs %}
{{ super() }}
<style>

    .md-main {
        flex-grow: 1;
        height: 0vh;
    }

    .md-main__inner {
        display: flex;
    }

    .md-typeset p {
        margin: 1em 0 1em 0;
        font-size: 0.8rem;
        line-height: 1.2em;
    }

    .tx-container {
        padding-top: .0rem;
        background: url(../assets/img/bg.webp) no-repeat center center; 
  	background-size: cover;
   	height: 70vh;
    }
    
    [data-md-color-scheme="slate"] .tx-container {
        padding-top: .0rem;
    }

    .tx-hero {
    	display: flex;
        margin: 0 .8rem;
        color: var(--md-primary-bg-color);
    }

    .tx-hero h1 {
        font-size: 1.2rem;
        font-family: Roboto;
        font-weight: 700;
        text-shadow: 0 0 .2rem rgba(0,22,238,.5);
        color: currentColor;
        margin: 0;
    }

    .tx-hero__content {
        max-width: 30rem;
        bottom: 39rem;
        position: absolute;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color);
        background-color: #010101;
        border-color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: var(--md-primary-fg-color);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: #ff00a0;
        color: var(--md-default-bg-color);
        border-color: #ff00a0;
    }

    .md-container {
        flex-grow: 1;
    }

    .top-hr {
        margin-top: 20px;
    }

    .feature-item {
    	text-align: center;
        padding: 0 15px;
        word-break: break-word;
    }

    .feature-item h2 {
        font-weight: 300;
        line-height: 20px;
        text-rendering: optimizeLegibility;
    }
    
    .feature-item h2 svg {
        height: 50px;
        float: none;
        margin-right: 0px;
    }
    
    [data-md-color-scheme="slate"] .feature-item h2 svg {
    	fill: var(--md-primary-bg-color);
    }

    .feature-item p {
        font-size: 14px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: var(--md-typeset-color);
        margin: 0 0 10px;
        display: block;
        font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none;
        }
        
        .md-typeset p {
            font-size: 1rem;
            line-height: 1.8em;
        }

        .tx-hero h1 {
            font-size: 2.0rem;
        }       

        .tx-hero__content {
	    bottom: 17rem;
        }  
       
        .top-hr {
            width: 100%;
            display: flex;
            max-width: 70rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        } 

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            background-color: #526cfe47;
            border-radius: 3px;
        }
        
    }
    
        .md-social {
            padding: 1.5rem 0;
        }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }

    }

    .hr {
        border-bottom: 1px solid #eee;
        width: 100%;
        margin: 20px 0;
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .md--meta__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.0rem;
    }

    .md-footer {
        display: flex;
        justify-content: center;
    }


</style>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__content">
          <h1>L'information, c'est le pouvoir</h1>
          <p>Adoptez les logiciels libres et ouverts, protégez votre vie privée, maîtrisez vos données. </p>
          <a href="{{ 'fr/protect-your-freedom/' | url }}" class="md-button md-button--primary">
            C'est parti !
          </a>
          <a href="{{ 'fr/contributing/' | url }}" class="md-button md-button--secondary">
            Participez
          </a>
        </div>
      </div>
    </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-browse-freely/' | url }}"><svg alt="Safe and private browser" xmlns="http://www.w3.org/2000/svg" viewBox="2 0 24 24">
                <path
                    d="m 17.72418,17.10819 c -0.17397,-0.53536 -0.67582,-0.93004 -1.2713,-0.93004 h -0.66913 v -2.0074 a 0.66913,0.66913 0 0 0 -0.66913,-0.66916 h -4.0148 v -1.3382 h 1.3382 a 0.66913,0.66913 0 0 0 0.66913,-0.66915 v -1.3382 h 1.3383 a 1.3383,1.3383 0 0 0 1.3383,-1.3384 V 8.54327 c 1.9606,0.78976 3.3456,2.71 3.3456,4.9583 0,1.3918 -0.5353,2.6564 -1.4052,3.6066 m -4.617,1.6997 c -2.6431,-0.32799 -4.6839,-2.5762 -4.6839,-5.3063 0,-0.41494 0.0535,-0.81622 0.14051,-1.1977 l 3.2051,3.2051 v 0.66915 a 1.3383,1.3383 0 0 0 1.3383,1.3383 m 0.66913,-10.706 a 6.6913,6.6913 0 0 0 -6.6913,6.6913 6.6913,6.6913 0 0 0 6.6913,6.6913 6.6913,6.6913 0 0 0 6.6913,-6.6913 6.6913,6.6913 0 0 0 -6.6913,-6.6913 z" />
            </svg></a>       
        <br><a href="{{ 'fr/intro-browse-freely/' | url }}">Explorez la toile en toute sécurité</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-speak-freely/' | url }}"><svg alt="Encrypted emails, messages and calls" xmlns="http://www.w3.org/2000/svg" viewBox="2 0 24 24">
                <path
                    d="m 18.876348,10.911039 -5.3412,3.3383 -5.3412,-3.3383 V 9.57574 l 5.3412,3.338299 5.3412,-3.338299 m 0,-1.3353 h -10.682 c -0.7411,0 -1.3353,0.59421 -1.3353,1.3353 v 8.011899 a 1.3353,1.3353 0 0 0 1.3353,1.335301 h 10.682 a 1.3353,1.3353 0 0 0 1.3353,-1.335301 V 9.57574 c 0,-0.7411 -0.60089,-1.3353 -1.3353,-1.3353 z" />
            </svg></a>
        <br><a href="{{ 'fr/intro-speak-freely/' | url }}">Discutez en privé</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-store-safely/' | url }}"><svg alt="Strong passwords and two-factor authentication" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="m4.862 19.329.007-8.844c.356-.054.712 .054 1.068 0l.093-1.264c.155-2.103 1.117-3.647 2.811-4.509 1.04-.53 3.004-.55 4.07-.042 1.468.699 2.703 2.436 2.765 3.887l.028.665h-1.653l-.242-.711c-1.133-3.749-6.079-2.97-5.939 1.263l.05.711 5.609.042c4.399.033 5.609-.198 5.609-.042-1.034 1.353-1.147 1.257-2.13 2.67-.028 2.058-.055 4.116-.083 6.174zm9.973-3.427v-1.832H7.112v1.832z" /></a>
            </svg>
        <br><a href="{{ 'fr/intro-store-safely/' | url }}">Sécurisez vos données</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-free-your-phone/' | url }}"><svg alt="Degoogled phone with FOSS apps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M16.371 16.221H7.629V6.573H16.371M13.206 18.03H10.794V17.427H13.206M15.618 4.764H8.382a1.809 1.809 0 0 0-1.809 1.809v10.853a1.809 1.809 0 0 0 1.809 1.809h7.235a1.809 1.809 0 0 0 1.809-1.809V6.573A1.809 1.809 0 0 0 15.618 4.764Z" /></a>
            </svg>
        <br><a href="{{ 'fr/intro-free-your-phone/' | url }}">Débloquez vos téléphones</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-free-your-computer/' | url }}"><svg alt="Linux" xmlns="http://www.w3.org/2000/svg" viewBox="2 0 24 24">
                <path
                    d="m 7.8832181,6.676301 c -0.66332,0 -1.1973,0.53394 -1.1973,1.1973 v 7.183601 c 0,0.66332 0.53394,1.1973 1.1973,1.1973 H 19.858218 c 0.66332,0 1.1973,-0.53394 1.1973,-1.1973 V 7.873601 c 0,-0.66332 -0.53394,-1.1973 -1.1973,-1.1973 z m 0.59961,1.1973 H 19.257828 c 0.33166,0 0.59961,0.266 0.59961,0.59766 v 5.986301 c 0,0.33166 -0.26795,0.59961 -0.59961,0.59961 H 8.4828281 c -0.33166,0 -0.59961,-0.26795 -0.59961,-0.59961 V 8.471261 c 0,-0.33166 0.26795,-0.59766 0.59961,-0.59766 z m 1.1875,9.5742 c -0.04719,0.0019 -0.09388,0.01042 -0.13867,0.02539 -0.0112,0.0035 -0.02228,0.0074 -0.0332,0.01172 -0.0046,0.0012 -0.0091,0.0025 -0.01367,0.0039 -0.0026,0.0013 -0.0052,0.0026 -0.0078,0.0039 -0.01536,0.0071 -0.03035,0.01487 -0.04492,0.02344 -0.05612,0.03063 -0.10585,0.07174 -0.14648,0.12109 -0.002,0.0026 -0.0039,0.0052 -0.0059,0.0078 l -2.9473,2.9473 c -0.31478,0.315 -0.0918,0.85334 0.35352,0.85352 H 21.054908 c 0.44532,-1.74e-4 0.6683,-0.53852 0.35352,-0.85352 l -2.9941,-2.9941 c -0.09376,-0.09377 -0.22092,-0.14646 -0.35352,-0.14648 H 9.7366081 c -0.02203,-0.0028 -0.04421,-0.0041 -0.06641,-0.0039 z" /></a>
            </svg>
        <br><a href="{{ 'fr/intro-free-your-computer/' | url }}">Libérez vos ordinateurs</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/intro-free-your-cloud/' | url }}"><svg alt="Self-hosting" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M8.894 5.884C6.382 5.926 6.212 8.821 6.212 8.821 6.212 8.821 3.701 8.476 3.509 10.737 3.509 10.737 2.57 10.661 2.589 11.293 2.589 11.293 2.57 11.907 3.567 11.811L5.675 11.753C5.675 11.753 7.4 8.61 10.677 10.412 10.677 10.412 11.137 9.109 12.019 8.591 12.019 8.591 11.904 6.042 9.144 5.889 9.058 5.884 8.975 5.882 8.894 5.884zM14.932 8.438 14.933 8.438C11.54 8.437 11.119 11.753 11.119 11.753 11.119 11.753 9.24 9.703 7.189 11.274 5.139 12.846 6.384 14.667 6.384 14.667 6.384 14.667 4.008 15.222 5.196 17.331 5.196 17.331 6.595 19.42 8.895 17.12 12.537 13.459 12.517 13.459 12.517 13.459 12.517 13.459 14.626 11.37 16.178 13.421 19.034 18.117 12.826 16.658 15.603 14.303 15.603 14.303 14.377 14.188 13.687 15.452 13.687 15.452 12.786 16.794 14.415 17.944 14.415 17.944 14.453 18.078 15.622 18.097L19.034 18.116C19.034 18.116 21.391 18.117 21.411 15.817 21.398 14.201 19.772 12.807 18.533 13.849 19.685 10.179 17.114 8.515 14.932 8.438z" /></a>
            </svg>
        <br><a href="{{ 'fr/intro-free-your-cloud/' | url }}">Appropriez-vous le nuage</a></h2>
    </div>
    <div class="feature-item">
        <h2><a href="{{ 'fr/nothing-to-hide/' | url }}"><svg alt="Privacy" xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 24 24">
                <path
                    d="M20 12.265 15.494 6.265l-1.629 2.17-1.864-2.483-1.864 2.483-1.629-2.17L4 12.265l2.465 1.056-1.338 1.781L12 18.049l6.873-2.945-1.338-1.781L20 12.265zM5.47 11.873l3.037-4.044v2.774l-1.461 1.945L5.47 11.873zM12 17.027l-5.403-2.316L12 7.516V17.027zM15.494 10.604l-1.042-1.387 1.042-1.387V10.604z" />
            </svg></a>
        <br><a href="{{ 'fr/nothing-to-hide/' | url }}">Participez</a></h2>
    </div>
</div>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<footer class="md-footer">
      {% include "partials/social.html" %}
</footer>
{% endblock %}

