/*Custom colors*/

[data-md-color-scheme="gofoss"] {
  --md-primary-fg-color:        #120458;
  --md-primary-fg-color--light: #2107a1;
  --md-primary-fg-color--dark:  #120458;
}


/*Fonts*/

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-Mono;
  src: url(Roboto-Mono.ttf);
  font-display: swap;
}

body {
  --md-text-font: Roboto;
  --md-code-font-family: Roboto-Mono;
}


/*Titles, Paragraphs, Links & Lists (mobile)*/

.md-typeset h1 {
    font-size: 1.75em;
    margin: 0 0 1em 0;
    color: var(--md-primary-fg-color);
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 2em 0 1em 0;
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset h3 {
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: 300;
    font-family: Roboto-Light, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset {
    font-size: 0.8rem;
    font-family: Roboto, -apple-system, Helvetica, Arial, sans-serif;
}

.md-typeset p {
    margin: 1.5em 0 1.5em 0;
}

.md-typeset a {
    color: var(--md-accent-fg-color);
}

.md-nav__item .md-nav__link--active {
  color: var(--md-accent-fg-color);
}

pre, code, kbd {
    font-family: Roboto-Mono, SFMono-Regular, Consolas, Menlo, monospace;
    font-size: 1.0em;
}

.md-typeset ul li:last-child {
    margin-bottom: .5em;
}


/*Titles, Paragraphs, Links & Lists (desktop)*/

@media screen and (min-width:60em) {

.md-typeset h1 {
    font-size: 2.0em;
}

.md-typeset h2 {
    font-size: 1.8em;
}

.md-typeset h3 {
    font-size: 1.5em;
}

.md-typeset {
    font-size: 0.8rem;
}

}


/*Width*/

.md-content {
    max-width: 750px;
    margin: auto;
}


/*Table headers & no-scroll on larger screens*/

th {
  color: var(--md-default-bg-color);
  background-color: var(--md-default-fg-color--light);
}


.table-noscroll .md-typeset__table table{
	display: table;
	width:100%;
	text-align:center;
}


@media screen and (min-width:60em) {

.table-noscroll .md-typeset__table table{
	table-layout: fixed;
}

}


/*Admonitions*/

:root {
  --md-admonition-icon--info: url('info.svg')
}
.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: rgb(255, 0, 160) !important;
}
.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: rgba(255, 0, 162, 0.05) !important;
  border-color: rgb(255, 0, 160) !important;
}
.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: rgb(255, 0, 160) !important;
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}
[data-md-color-scheme="slate"] .md-typeset .info > summary::before {
  background-color: var(--md-primary-bg-color) !important;
  -webkit-mask-image: var(--md-admonition-info--tip);
          mask-image: var(--md-admonition-info--tip);
}


:root {
  --md-admonition-icon--tip: url('tip.svg')
}
.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: rgb(0,22,238) !important;
}
.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: rgba(0,22,238, 0.05) !important;
  border-color: rgb(0,22,238) !important;
}
.md-typeset .tip > .admonition-title::before,
.md-typeset .tip > summary::before {
  background-color: rgb(0,22,238) !important;

}
[data-md-color-scheme="slate"] .md-typeset .tip > summary::before {
  background-color: var(--md-primary-bg-color) !important;
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}


:root {
  --md-admonition-icon--question: url('question.svg')
}
.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: rgb(26, 254, 73) !important;
}
.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: rgba(26, 254, 73, 0.1) !important;
  border-color: rgb(26, 254, 73) !important;
}
.md-typeset .question > .admonition-title::before,
.md-typeset .question > summary::before {
  background-color: rgb(26, 254, 73) !important;
  -webkit-mask-image: var(--md-admonition-icon--question);
          mask-image: var(--md-admonition-icon--question);
}
[data-md-color-scheme="slate"] .md-typeset .question > summary::before {
  background-color: var(--md-primary-bg-color) !important;
  -webkit-mask-image: var(--md-admonition-icon--question);
          mask-image: var(--md-admonition-icon--question);
}


:root {
  --md-admonition-icon--warning: url('warning.svg')
}
.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: rgb(255, 18, 79) !important;
}
.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color: rgba(255, 18, 79, 0.1) !important;
  border-color: rgb(255, 18, 79) !important;
}
.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
  background-color: rgb(255, 18, 79) !important;
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}
[data-md-color-scheme="slate"] .md-typeset .warning > summary::before {
  background-color: var(--md-primary-bg-color) !important;
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}


:root {
  --md-admonition-icon--level: url('tip.svg')
}
.md-typeset .admonition.level,
.md-typeset details.level {
  border-color: rgb(255, 255, 255, 0) !important;
  box-shadow: 0 0 0;
  margin-top: -2em;
  margin-left: -0.7rem;
  margin-bottom: 3em;
  color: rgb(18, 4, 88, 0.3) !important;
}
.md-typeset .level > .admonition-title,
.md-typeset .level > summary {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgb(255, 255, 255, 0) !important;
  font-weight: 300;
}
.md-typeset .level > .admonition-title::before,
.md-typeset .level > summary::before {
  background-color: rgb(18, 4, 88, 0.3) !important;
  -webkit-mask-image: var(--md-admonition-icon--level);
          mask-image: var(--md-admonition-icon--level);
}
[data-md-color-scheme="slate"] .md-typeset .level > .admonition-title::before {
  background-color: var(--md-primary-bg-color) !important;
  -webkit-mask-image: var(--md-admonition-icon--level);
          mask-image: var(--md-admonition-icon--level);
}
[data-md-color-scheme="slate"] .md-typeset .admonition.level, details.level {
  color: rgb(255, 255, 255, 255) !important;
  border-color: rgb(46, 48, 62) !important;
}
[data-md-color-scheme="slate"] .md-typeset .level > .admonition-title, .level > summary {
  background-color: rgba(46, 48, 62) !important;
}
